@mixin button {
  .custom-button--primary {
    color: #0066cc;
    background-color: white;
    border: 1px solid #0066cc;
    padding: 6px 12px;
    text-transform: uppercase;
    outline: none;

    &:hover {
      background-color: #f2f2f2;
      cursor: pointer;
    }

    &:active {
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }
}
