@mixin file-uploader {
  .file-uploader {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .file-uploader__input {
      display: none;
    }

    .file-uploader__files-list {
      width: 200px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
