@mixin custom-input-focus {
  &:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.6);
  }
}

@mixin custom-input {
  .custom-input {
    background-color: #eee;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    padding: 6px;
    color: #555;

    @include custom-input-focus;
  }

  textarea {
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;

    @include custom-input-focus;
  }
}
