@import "./components/button";
@import "./components/file-upload";
@import "./components/input";

body {
  margin: 0;
  font-family: "Imago";
  font-style: normal;
  @include custom-input;
  @include file-uploader;
  @include button;
}
