<div>
  <span (click)="fileInput.click()"><ng-content></ng-content></span>
</div>
<input
  #fileInput
  class="file-uploader__input"
  type="file"
  [multiple]="false"
  [accept]="allowedFileTypes"
  (change)="fileInputChange($event)"
/>
