<div class="file-upload-usage">
  <label>File (PDF max. 30MB): </label>
  <div class="file-uploader">
    <div class="file-uploader__files-list">
      <input
        [disabled]="!files.length"
        [readonly]="files.length"
        customInput
        [value]="files.length ? files[0].name : ''"
      />
    </div>

    <app-file-upload
      [allowedFileTypes]="allowedFileTypes"
      [allowedFileSize]="allowedFileSize"
      (filesToUpload)="filesToUpload($event)"
      (fileErrorStatus)="fileStatus($event)"
    >
      <button custom-primary-button>+ Upload</button>
    </app-file-upload>
  </div>

  <label>Comment</label>
  <textarea
    rows="4"
    customInput
    [(ngModel)]="comment"
    [value]="comment"
  ></textarea>

  <button custom-primary-button style="width: 50px;" (click)="uploadFile()">
    OK
  </button>
</div>

<app-error [status]="fileUploadStatus"></app-error>
