@mixin custom-input {
  .custom-input {
    background-color: #eee;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    padding: 6px;
    color: #555;

    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
    }
  }
}

@mixin file-uploader {
  .file-uploader {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .file-uploader__input {
      display: none;
    }

    .file-uploader__files-list {
      width: 200px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}

@mixin button {
  .custom-button--primary {
    color: #0066cc;
    background-color: white;
    border: 1px solid #0066cc;
    padding: 6px 12px;
    text-transform: uppercase;
    outline: none;

    &:hover {
      background-color: #f2f2f2;
      cursor: pointer;
    }

    &:active {
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }
}

body {
  margin: 0;
  font-family: "Imago";
  font-style: normal;
}
